@use "./variables" as *;
@use "./font.scss" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin button-form {
  background-color: $button-color;
  color: $light-grey;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  @include h3-style;
  &:hover {
    background-color: $button-hover-color;
  }
}

@mixin h3-style {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
