@use "./font" as *;
@use "./mixins" as *;

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  @include tablet {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.25rem;
  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
