$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$blue-text: #21295c;
$white: #ffffff;
$brown-text: #a53f2b;
$button-color: #ace2e0;
$button-hover-color: #7b886b; //#0075a2;
$light-grey: #333232;
$blue-background: #b8e1ff;
