@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    max-width: 30rem;
    width: 100%;
  }
  &__actions {
    margin-top: 1.5rem;
  }
  &__buttons {
    margin: 0.25rem 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  &__button-yes {
    color: white;
    width: 50%;
  }
  &__button-no {
    background-color: white;
    border: 1px solid $light-grey;
    width: 50%;
  }
}
