@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.result-page {
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      align-items: start;
    }
    @include desktop {
      justify-content: center;
      align-items: center;
    }
  }
  &__notice {
    @include tablet {
      display: none;
    }
  }
  &__chart {
    display: none;
    @include tablet {
      display: flex;
    }
  }

  &__chart-caption {
    margin-top: 0;
    font-size: 0.75rem;
  }

  &__bold {
    font-weight: bold;
    font-size: 0.675rem;
    &--subheader {
      font-size: 0.8125rem;
    }
  }
  &__statistics {
    padding-bottom: 0.75rem;
    @include tablet {
      padding-bottom: 1.25rem;
    }
    @include desktop {
      padding-bottom: 2rem;
    }
  }

  &__statistics > p {
    font-size: 0.675rem;
    margin: 0;
  }

  &__button-container {
    padding-bottom: 0.75rem;
    @include tablet {
      display: flex;
      justify-content: left;
      gap: 1.5rem;
      padding-bottom: 1.25rem;
      width: 27.25rem;
    }
    @include desktop {
      width: 60%;
      justify-content: center;
      padding-bottom: 2rem;
      align-items: left;
    }
  }

  &__download-chart {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    max-height: 2.5rem;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 30%;
    }
  }

  &__download-data {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    max-height: 2.5rem;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 30%;
    }
  }

  &__return-link {
    margin-bottom: 0.75rem;
    max-height: 2.5rem;
    text-decoration: none;
    @include tablet {
      display: flex;
      justify-content: left;
      align-items: start;
    }
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__return-button {
    background-color: white;
    border: 1px solid $light-grey;
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    max-height: 2.5rem;
    cursor: pointer;
    @include tablet {
      width: 27.25rem;
    }
    @include desktop {
      width: 26.5rem;
    }
  }
}
