@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $blue-background;
  @include tablet {
    padding: 1rem 2.5rem;
  }
  @include desktop {
    padding: 1rem 5rem;
  }
  &--align {
    align-items: start;
    @include tablet {
      align-items: center;
    }
  }
  &__logo-link,
  &__menu-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  &__logo-contanier {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $blue-text;
    @include h2-style;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: right;
    @include tablet {
      flex-direction: row;
      justify-content: right;
      gap: 1rem;
    }
  }

  &__login-contanier,
  &__logged-contanier {
    display: flex;
    gap: 0.125rem;
    align-items: baseline;
    @include h3-style;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }
    &--disappear {
      display: none;
    }
  }

  &__menu,
  &__user-login,
  &__user-profile,
  &__logout-button {
    background-color: $blue-background;
    color: $blue-text;
    margin: 0;
    padding: 0;
    @include label-style;
    text-align: right;
    border-radius: 0.5rem;
    &:hover {
      color: white;
      background-color: $blue-background;
      border-bottom: 0.125rem solid white;
    }
    &:active {
      background-color: $blue-background;
      border-bottom: 0.125rem solid white;
    }
    &--active {
      color: white;
      font-weight: bold;
    }
    @include tablet {
      @include p-style;
      font-weight: bold;
    }
  }
}
