@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.river-page {
  padding: 1rem;
  @include tablet {
    padding: 2.5rem;
  }
  @include desktop {
    padding: 2.5rem 5rem;
  }

  &__river-add--inactive {
    border: red 0.125rem solid;
  }

  &__form-warning {
    display: none;
    &--display {
      display: block;
      color: red;
    }
  }
  &__button-container {
    padding: 0.75rem 0;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding-bottom: 1.25rem;
    }
    @include desktop {
      // width: 60%;
      padding-bottom: 2rem;
    }
  }
  &__cancel-button,
  &__button {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    max-height: 2.5rem;
    @include tablet {
      width: 30%;
    }
  }
}
